@import url("styles/header.css");
@import url("styles/about.css");
@import url("styles/expect.css");
@import url("styles/host.css");
@import url("styles/ticket.css");
@import url("styles/news.css");
@import url("styles/footer.css");


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
     overflow-x: hidden; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    position: absolute;
    width: 100%;
    top: 0;  
    left: 0;
    background: transparent;
    z-index: 10;
}


@media (max-width: 768px) {

       body {
        overflow-x: hidden; 
    }
    
    h1 {
        font-size: 30px;
        margin: 20px 0;
    }
    
    .about {
        flex-direction: column; 
        padding: 40px 15px;
        min-height: auto; 
    }
    
    .about-content {
        flex-direction: column; 
        gap: 20px; 
        align-items: center; 
    }
    
    .about-image {
        max-width: 85%; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }
    
    .about-text h2 {
        font-size: 50px; 
    }

    .about-icons {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start; 
        margin-top: 10px;
    }

    .icon-item {
        flex-direction: row;
        align-items: center;
        gap: 10px;
        text-align: left;
    }

    .icon-item img {
        width: 35px;
        height: 35px;
    }

    .icon-item span {
        font-size: 18px; 
    }

    .about-text p {
        font-size: 21px;
        text-align: left; 
    }
    
    .expect-content {
        flex-direction: column;
        align-items: flex-start; 
        padding: 20px;
    }

    .expect-text {
        width: 100%;
        text-align: left;
    }

    .expect-text h2 {
        font-size: 48px;
        text-align: left;
    }

    .expect-text p {
        font-size: 16px;
        text-align: justify;
    }

    .btn-expect {
        margin-bottom: 40px;
    }
    
    .expect-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .card {
        width: 80%; 
        margin-bottom: 20px;
    }

}




