.newsletter-section {
    text-align: center;
    padding: 50px 20px;
    background-image: url('/assets/Section.png'); /* substitua pelo caminho da sua imagem de fundo */
    color: #ffffff; /* Texto branco */
}

.newsletter-title {
    font-family: 'Metal Mania', cursive; /* Fonte do título */
    font-size: 5rem;
    margin-bottom: 10px;
}

.newsletter-subtitle {
    font-family: 'Barlow', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaço menor entre os elementos */
    flex-wrap: wrap; /* Permite que os elementos se ajustem ao espaço disponível */
    margin-bottom: 30px;
}

.email-input {
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 300px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.newsletter-button {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #DAA520; /* Cor dourada */
    color: #2d2d2d; /* Texto escuro */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newsletter-button:hover {
    background-color: #b8860b; /* Dourado mais escuro ao passar o mouse */
}

.newsletter-image-container {
    margin-top: 30px;
}

.newsletter-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .newsletter-title {
        font-size: 2.5rem; /* Reduz ainda mais o tamanho do título */
    }
    
    .newsletter-subtitle {
        font-size: 1rem; /* Ajusta o subtítulo */
    }

    .email-input {
        width: 200px; /* Diminui mais o campo de email */
        margin: 0 10px;
    }

    .newsletter-button {
        width: 200px;
        padding: 15px;
        font-size: 0.8rem;
        margin: 0 10px;
    }

    .newsletter-form {
        flex-direction: column; /* Empilha os elementos verticalmente no celular */
        gap: 15px;
    }
}
