
.newsletter-section {
    text-align: center; 
    padding: 50px 20px; 
    background-image: url('/assets/Section.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.newsletter-title {
    font-family: 'Metal Mania', cursive;
    font-size: 65px;
    color: #fff;
    margin-bottom: 10px;
}

.newsletter-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    color: #ccc;
    margin-bottom: 40px;
}

.newsletter-form {
    display: flex;
    justify-content: center; 
    align-items: baseline; 
    gap: 10px;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 500px;
}

.email-input {
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 20px;
    outline: none;
    width: 100%; 
    box-sizing: border-box;
}

.newsletter-button {
    padding: 15px 30px;
    font-size: 1rem;
    background-color: #DAA520;
    color: #2d2d2d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.newsletter-button:hover {
    background-color: #b8860b;
}


/* Responsividade */
@media (max-width: 480px) {
    .newsletter-form {
        flex-wrap: wrap; 
        gap: 15px; 
    }

    .email-input,
    .newsletter-button {
        width: 100%; 
        max-width: none;
    }
}
